
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('https://www.kooslooijesteijn.net/generated/assets/blog/2021-12-27/risen-wang-20jX9b35r_M-unsplash-1346-174bcae5e.webp'); /* Replace with your gym background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: rgba(0.8, 0.8, 0.8, 0.8); /* Adjust transparency here */
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

/* Member Widget Styles */
.member-widget {
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    align-items: center;
}

.member-name {
    margin-right: 10px;
    font-weight: bold;
}

.logout-btn {
    background-color: #003366;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #002050;
}

/* Container Styles */
.container {
    display: flex;
    padding: 20px;
}

.section {
    flex: 1;
    margin-right: 20px;
}

/* Card Styles */
.card {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.card p {
    margin-bottom: 10px;
    line-height: 1.6;
}
.card strong {
    margin-bottom: 10px;
    line-height: 1.6;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
}

input[type="submit"]:hover {
    background-color: #003366;
}

/* Hover Effects */
input[type="submit"]:hover,
input[type="submit"]:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}